<footer class="site-footer h-card" style="background-color:#1C2833 ">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading" style="color:blanchedalmond">Magistro projektas</h2>
  
      <div class="footer-col-wrapper" style="color:#F2F3F4">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Magistro projektas</li><li><a class="u-email" href="mailto:edvinas.repecka@ktu.lt">edvinas.repecka@ktu.lt</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/Redwinas"><link rel="shortcut icon" type="image/jpg" href="/assets/GitHub-Mark-Light-120px-plus.png"/><span class="username">Redwinas</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p>This page is used for the storage and preview of Edvino Repečkos IFM-0/2 KTU work of Magister project.</p>
          <p>Puslapis naudojamas laikyti ir atvaizduoti Edvino Repečkos IFM-0/2 KTU Magistro projekto darbą.</p>
        </div>
      </div>
  
    </div>
  
  </footer>